* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header, main {
    max-width: 1400px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(119, 119, 240);
}

.logo {
    font-size: 1.4em;
}

.navbar {
    display: flex;
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar li {
    margin: 0 10px;
    font-size: 1.2em;
}

.navbar li:hover {
    background-color: blue;
}

/* CADASTRO */

main {
    background-image: linear-gradient(to right, #1f1fffa1 , #3838384d);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 30px;
}

